* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
}*/

.logo {
    color: #0B2447;
}

.logo span {
    
    font-weight: lighter;
}

.pages li {
    color: #2B3648;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin-top: 20px;
}

.hero-comment {
    height: 370px;
    width: 770px;
    padding: 20px 50px;
    border-radius: 40px;
    background-color: rgba(11, 36, 71, 0.8);
}

.hero-comment h1 {
    font-size: 40px;
    margin-top: 30px;
    line-height: 50px;
    margin-bottom: 20px;
}

.hero-comment h1 span {
    color: #75B9F5;
}

.hero-comment p {
    color: #FFFFFF;
    margin-bottom: 35px;
}

.btn2 {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #0B2447;
    font-size: 20px;
}

.btn3 {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid white;
    margin-left: 17px;
}

.image3 {
    position: absolute;
    top: 150px;
    right: 70px;
}

.image1 {
    position: absolute;
    top: 110px;
    right: 215px;
    z-index: 2;
    
}

.second-head h2, .time-head h4, .works-container h2, .plat-sec h3, .fire h6, .card-grid h1 {
    color: #2b3648ef;
}

.second-head p, .time-head p, .works-container p, .plat-sec p, .fire p, .card-grid p {
    color: #3E4C63;
}

.card-grid, .time-container, .platform {
    border: 1px solid #3e4c6331;
}

.list, .foot-foot {
    color: #dce6f29a;
}

.setting {
    background-color: #F9FAFC;
    height: 1150px;
}

.girl-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 790px;
    position: absolute;
    top: 150px;
    left: 400px;
}

.works-card {
    background-color: #FFFFFF;
    width: 300px;
    height: 220px;
    padding: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
}

.works-card h1, .works-card h2 {
    font-size: 26px;
    font-weight: bold;
    color: #2B3648;
}

.works-card p {
    font-size: 18px;
    font-weight: 500;
    color: #3e4c63c2;
    line-height: 25px;
}

.works {
    position: relative;
}

.card1 {
    position: absolute;
    top: 190px;
    left: 150px;
}

.card3 {
    position: absolute;
    top: 390px;
    left: 100px;
}

.card5 {
    position: absolute;
    left: 200px;
    top: 600px;
}

.card2 {
    position: absolute;
    top: 220px;
    right: 70px;
}

.card4 {
    position: absolute;
    right: 25px;
    top: 420px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #9E1F16;
    border-radius: 15px;
    width: 900px;
    background-color: #FCE4E2;
    color: #9E1F16;
    padding: 15px 20px;
}

.bottom h5 {
    font-size: 25px;
    font-weight: bold;
}

.end {
    position: relative;
    top: 870px;
    left: 200px;
}

.card-container > * + * {
  position: relative;
}

.card-container > * + *::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 4%;      
  height: 80%;  
  width: 4px;        
  border-left: 4px double #cbd5e1; 
}

.test-container > * + * {
  position: relative;
}

.test-container > * + *::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 15%;
  height: 70%; 
  width: 4px; 
  border-left: 4px double #cbd5e1; 
}






@media (max-width: 768px) {
    .hero-comment {
        height: auto;
    }

    .pages {
        display: none;
    }

    .setting {
        display: none;
    }

    .card-container > * + * {
  position: relative;
}

.card-container > * + *::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0%;      
  height: 0%;  
  width: 4px;        
  border-left:  double #cbd5e1; 
}

.test-container > * + * {
  position: relative;
}

.test-container > * + *::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0%;
  height: 0%; 
  width: 4px; 
  border-left:  double #cbd5e1; 
}
}