* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    line-height: 1.6;
}

.nav-bar {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background-color: #0B2447;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.logo {
    color: #0B2447;
}

.logo span {
    color: #0b2447c0;
}

.pages li {
    color: #2B3648;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 100vh;
    margin-top: 30px;
}

.hero-comment {
    height: 540px;
    width: 1160px;
    padding: 20px 50px;
    border-radius: 40px;
    background-color: rgba(11, 36, 71, 0.8);
    margin: 118px;
}

.hero-comment h1 {
    font-size: 70px;
    margin-top: 30px;
    line-height: 80px;
    margin-bottom: 20px;
}

.hero-comment h1 span {
    color: #75B9F5;
}

.hero-comment p {
    color: #FFFFFF;
    margin-bottom: 35px;
}

.btn2 {
    border-radius: 20px;
    padding: 20px 30px;
    background-color: white;
    color: #0B2447;
    font-size: 25px;
}

.btn3 {
    border-radius: 20px;
    padding: 17px 35px;
    font-size: 25px;
    border: 3px solid white;
    margin-left: 17px;
}

.image3 {
    position: absolute;
    top: 200px;
    right: 150px;
}

.image1 {
    position: absolute;
    top: 150px;
    right: 350px;
    z-index: 2;
    
}

.second-container {
    margin-top: 150px;
}

.second-head h2 {
    font-size: 55px;
    font-weight: bold;
    color: #2B3648;
    margin-left: 650px;
}

.second-head p {
    font-size: 30px;
    color: #3E4C63;
    width: 1100px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 150px;
    margin-left: 500px;
}

.card {
    width: 340px;
}

.card1 {
    width: 300px;
}

.card-card p {
    color: #eef1f5d3;
}

.card-container {
    display: flex;
    margin-left: 120px;
    gap: 40px;
}

.card-container > * + * {
  position: relative;
}

.card-container > * + *::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 5%;      
  height: 90%;  
  width: 1px;        
  border-left: 4px double #cbd5e1; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 50px;
}

.card-grid {
    width: 480px;
    height: 450px;
    padding: 40px 60px;
    border: 1px solid #3e4c6342;
    border-radius: 30px;
}

.card-grid h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #2B3648;
    margin-bottom: 10px;
}

.card-grid img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    height: 120px;
}

.card-grid p {
    color: #3e4c63d0;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.time-main {
    margin-top: 200px;
    margin-bottom: 100px;
}

.time h5 {
    margin-bottom: 15px;
}

.time-container {
    border: 1px solid #3e4c633f;
    width: 850px;
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 35px;
}



.time-head h4 {
    font-size: 60px;
    font-weight: bold;
    color: #2B3648;
    margin-left: 750px;
    margin-bottom: 5px;
}

.time-head p {
    font-size: 30px;
    width: 950px;
    text-align: center;
    color: #3E4C63;
    line-height: 35px;
    margin-left: 580px;
    margin-bottom: 170px;
}

.time-image {
    height: 620px;
    width: 950px;
    border-radius: 30px;
}

.time-content {
    display: flex;
    justify-content: space-evenly;
}

.test-container {
    background-color: #071a33f1;
    width: 100%;
    height: 400px;
    display: flex;
    padding-left: 400px;
    margin-bottom: 150px;
}

.test h4 {
    color: #FFFFFF;
    font-size: 60px;
}

.test p {
    color: #B8C2D1;
    font-size: 30px;
}

.test {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 100px;
    margin-left: 70px;
    width: 250px;
}

.test-image {
    height: 80px;
}

.test-container > * + * {
  position: relative;
}

.test-container > * + *::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 35%;          /* Adjust this to move the line up or down */
  height: 40%;       /* This reduces the length of the line */
  width: 4px;        /* Matches your border-left-width */
  border-left: 4px double #cbd5e1; 
}

.works-container {
    text-align: center;
}

.works-container h2 {
    font-size: 55px;
    color: #2B3648;
    font-weight: bold;
}

.works-container p {
    font-size: 30px;
    font-weight: 500;
    color: #3E4C63;
    width: 900px;
    margin-left: 575px;
    line-height: 40px;
}

.girl-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 1000px;
    position: absolute;
    top: 150px;
    left: 650px;
}

.works-card {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    padding: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
}

.works-card h1, .works-card h2 {
    font-size: 35px;
    font-weight: bold;
    color: #2B3648;
}

.works-card p {
    font-size: 25px;
    font-weight: 500;
    color: #3E4C63;
    line-height: 37px;
}

.works {
    position: relative;
}

.card1 {
    position: absolute;
    top: 190px;
    left: 350px;
}

.card3 {
    position: absolute;
    top: 470px;
    left: 300px;
}

.card5 {
    position: absolute;
    left: 400px;
    top: 730px;
}

.card2 {
    position: absolute;
    top: 250px;
    right: 320px;
}

.card4 {
    position: absolute;
    right: 250px;
    top: 520px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #9E1F16;
    border-radius: 40px;
    width: 1300px;
    background-color: #FCE4E2;
    color: #9E1F16;
    padding: 25px 30px;
}

.bottom h5 {
    font-size: 35px;
    font-weight: bold;
}

.end {
    position: relative;
    top: 1070px;
    left: 400px;
}

.setting {
    height: 1600px;
    background-color: rgba(128, 128, 128, 0.041);
}

.plat {
    height: 1300px;
    background-color: #FFFFFF;
}

.plat-sec {
    text-align: center;
    margin-bottom: 200px;
}

.plat-sec h3 {
    font-size: 50px;
    font-weight: bold;
    color: #2B3648;
    margin-bottom: 15px;
}

.plat-sec p {
    font-size: 32px;
    font-weight: 400;
    color: #3E4C63;
    width: 1300px;
    line-height: 35px;
    margin-left: 450px;
}

.platform {
    display: flex;
    align-items: center;
    width: 950px;
    height: 200px;
    padding: 30px;
    border: 1px solid #3e4c634b;
    border-radius: 20px;
    gap: 25px;
}

.fire h6 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2b3648c2;
}

.fire p {
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
    color: #3e4c63d2;
}

.plat-image {
    height: 120px;
}

.platform-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 50px;
}

.download-container {
    height: 800px;
    background-color: #FFFFFF;
}

.download {
    width: 1600px;
    height: 600px;
    background-color: #861B13;
    padding: 150px;
    border: 1px solid #861B13;
    margin: 200px;
    border-radius: 20px;
    
}



.content h1 {
    color: #DCE6F2;
    font-size: 50px;
    font-weight: bold;
    width: 400px;
    text-align: center;
    line-height: 55px;
    margin-left: 300px;
    margin-bottom: 20px;
}

.content p {
    font-size: 25px;
    color: #DCE6F2;
    font-weight: 300;
    width: 550px;
    line-height: 35px;
    margin-bottom: 40px;
    margin-left: 250px;
}

.download-btn {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 25px;
    color: #0B2447;
    margin-left: 300px;
}

.relate {
    position: relative;
    top: 0;
}

.white {
    position: absolute;
    right: -50px;
    top: -550px;
}

.black {
    position: absolute;
    top: -590px;
    right: 150px;
    z-index: 2;
}

.foot {
    height: 400px;
    width: 100%;
    background-color: #0B2447;
    color: #dce6f29a;
    font-size: 20px;
    padding-top: 100px;
}

.foot-content {
    display: flex;
    justify-content: space-evenly;
}

.foot-content h1 {
    color: #dce6f2;
    font-weight: bold;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot-logo span {
    font-weight: 300;
    color: #dce6f29a;
}






@media (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .pages {
        display: none;
    }

    .logo {
        font-size: 18px;
    }

    .btn {
        font-size: 20px;
        padding: 5px 10px;
    }

    .image1, .image3 {
        display: none;
    }

    .hero-comment {
        padding: 5px 5px;
        margin: 10px;
        height: 1100px;
    }

    .hero {
        height: 1600px;
        max-width: 768px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .btn2 {
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .btn3 {
        margin-left: 50px;
    }

    .card-container {
    margin-left: 20px;
    }

    .second-head h2 {
        font-size: 30px;
        margin-left: 20px;
        line-height: 38px;
        text-align: center;
    }

    .second-head p {
        font-size: 30px;
        margin-left: 5px;
        width: 380px;
        margin-top: 20px;
        line-height: 35px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -35px;
    }

    .time-head h4 {
        font-size: 50px;
        margin-left: 80px;
        line-height: 50px;
    }

    .time-head p {
        font-size: 30px;
        margin-left: 10px;
        width: 380px;
        margin-top: 25px;
    }

    .time-content {
        display: flex;
        flex-direction: column;
    }

    .time-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    .time p {
        width: 280px;
    }

    .time-image {
        height: auto;
        width: auto;
    }
}






